<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="korit.com.make_fitness.mapper.MemberMapper">

    <select id="findByNickname" resultType="korit.com.make_fitness.dto.response.RespMemberManageDto">
        select
            u.nickname,
            u.ph,
            p.promotion_name as promotionName,
            m.promotion_session_count as promotionSessionCount,
            m.expired_date as expiredDate
        from
            membership_tb m
            join user_tb u on m.user_id = u.user_id
            join promotion_tb p on m.promotion_id = p.promotion_id
        <where>
            <if test="name != null and name != ''">
                u.nickname like concat('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>